body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-size: 42px;
    color: white;
    font-family: "Rubik", sans-serif;
}

.master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.off {
    display: none;
}

.title {
    margin: 5px 0;
    color: white;
    font-size: 1em;
}

sub {
    font-size: 0.4em;
    margin-bottom: 20px;
}

.game-grid {
    margin-top: 40px;
    margin-bottom: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    width: 440px;
    height: 440px;
}

.game-button {
    border: none;
    width: 142px;
    height: 142px;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 2.7em;
    --button_color: #e8e8e8;
    font-weight: 700;
    background: var(--button_color);
    color: rgb(0, 81, 255);
    transition: transform 0.1s ease;
}

.game-button:hover {
    border: none;
    outline: none;
    cursor: pointer;
    /* transform: translateY(-1px); */
    background-color: rgb(220, 245, 253);
}
  
.game-button:active {
    outline: none;
    background-color: rgb(190, 225, 245);
    transform: translateY(1px);
}

.game-score {
    color: white;
    display: grid;
    justify-items: center;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 500px;
    height: 80px;
}

.score-title {
    grid-area: 1 / 1 / 2 / 3;
    margin: 10px 0;
    border-bottom: 2px solid white;
}

.score, .score * {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p:last-child {
    border: none;
    color: rgb(0, 255, 242);
    font-size: 1.5em;
}

dialog {
    font-size: 1.2em;
    outline: none;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    -webkit-box-shadow: 0 0 15px #ffffff;
    -moz-box-shadow: 0 0 15px #ffffff;
    box-shadow: 0 0 15px #ffffff;
}

.x-button {
    font-family: "Rubik", sans-serif;
    height: 280px;
    width: 220px;
    font-size: 2.5em;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: none;
    border-top-right-radius: 5px;
    text-shadow: 0 4px 4px rgb(0, 119, 255);
}

.o-button {
    font-family: "Rubik", sans-serif;
    height: 280px;
    width: 220px;
    font-size: 2.5em;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: none;
    border-top-left-radius: 5px;
    text-shadow: 0 4px 4px rgb(0, 119, 255);
}

.x-button:hover {
    text-shadow: 0 6px 5px black;
    color: rgb(0, 119, 255);
    cursor: pointer;
}

.o-button:hover {
    text-shadow: 0 6px 5px black;
    color: rgb(0, 119, 255);
    cursor: pointer;
}

h1 {
    margin: 10px 5px;
    font-size: .7em;
    text-align: center;
}


.continue-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    outline: none;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 496px;
    border: 2px solid rgb(0, 255, 0);
    width: 434px;
    background: transparent;
    margin-top: 80px;
    color: white;
    -webkit-box-shadow: 0 0 15px #9aff9f;
    -moz-box-shadow: 0 0 15px #9aff9f;
    box-shadow: 0 0 15px #9aff9f;
}

.continue-dialog h1 {
    color: #3bff29;
}

.continue-button {
    font-size: .3em;
    display: flex;
    width: 140px;
    height: 90px;
    justify-content: center;
    align-items: center;
    background: #f3fff78a;
    margin-top: 170px;
    margin-right: 1px;
    transition: all .1s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.continue-button:hover {
    cursor: pointer;
  background-color: #3bff29;
  box-shadow: #005a38 0 -6px 8px inset;
  transform: scale(1.125);
}

.continue-button:active {
  transform: scale(1.025);
  outline: none;
}

.restart-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    outline: none;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 496px;
    border: 2px solid rgb(255, 0, 0);
    width: 434px;
    background: transparent;
    margin-top: 80px;
    color: white;
    -webkit-box-shadow: 0 0 15px #ff9a9a;
    -moz-box-shadow: 0 0 15px #ff9a9a;
    box-shadow: 0 0 15px #ff9a9a;
}

.restart-dialog h1 {
    color: #ff2929;
}

.restart-button {
    font-size: .3em;
    display: flex;
    width: 140px;
    height: 90px;
    justify-content: center;
    align-items: center;
    background: #f3fff78a;
    margin-top: 170px;
    margin-right: 1px;
    transition: all .1s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.restart-button:hover {
    cursor: pointer;
    background-color: #ff2929;
    box-shadow: #5a0000 0 -6px 8px inset;
    transform: scale(1.125);
}

.restart-button:active {
    transform: scale(1.025);
    outline: none;
}